.outlined_block {
    border-style: groove;
    margin: 5px;
    color: black;
}

.outlined_block > div {
    padding-left: 0;
}

.greyed_block {
    background-color: whitesmoke;
    margin: 5px;
}

.category-block {
    padding:10px;
    margin: 10px;
    height: 100px;
    text-align: center;
    color: rgb(255, 195, 195);
    text-decoration: none;
}

