<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{{ url_for('home', user_id=user_id) }}">Plant Shop</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('home', user_id=user_id) }}">Home</a></li>
              <li><a href="{{ url_for('products', user_id=user_id) }}">Products</a></li>
              <li><a href="#">Categories</a></li>
              <li><a href="#">Basket</a></li>
            </ul>
          </div>
        </nav>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>