{% extends 'base.html' %}

{% block content %}
<h2>Order</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td>{{item.product.name}}</td>
            <td>{{item.quantity}}</td>
            <td>£{{item.product.price}}</td>
        </tr>
        {% endfor %}
        <tr>
            <th>Total</th>
            <th></th>
            <th>£{{cart_total}}</th>
        </tr>
    </tbody>
</table>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-sm-6">
            <h3>Address Details</h3>
            <div class="form-group" style="width: 300px">
                {{form.address_line_1.label}} {{form.address_line_1(class_="form-control")}}
            </div>
            <div class="form-group" style="width:200px">
                {{form.county.label}} {{form.county(class_="form-control")}}
            </div>
            <div class="form-group" style="width:100px">
                {{form.postcode.label}} {{form.postcode(class_="form-control")}}
            </div>
        </div>
        <div class="col-sm-6">
            <h3>Payment Details</h3>
            <div class="form-group">
                {{form.number.label}} {{form.number(class_="form-control")}}
            </div>
            <div class="form-group" style="width:250px">
                {{form.name.label}} {{form.name(class_="form-control")}}
            </div>
            <div class="form-group" style="width:75px">
                {{form.cvv.label}} {{form.cvv(class_="form-control")}}
            </div>
        </div>
    </div>







    
    {{ form.purchase(class_="btn btn-primary") }}
</form>



{% endblock %}