{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-5">
        <a href="products/{{ product.id }}">
            <img src="/static/{{ product.image }}" alt="Image not found.." width="100%">
        </a>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <h1 class="col-sm-9">{{ product.name }}</h1>
            <h2 class="col-sm-3">£{{ product.price }}</h2>
        </div>
        <div class="row">
            <p class="col-sm-12">{{ product.description }}</p>
        </div>
    </div>
    <form action="" method="post" class="col-sm-3">
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

</div>
{% endblock %}