{% extends 'base.html' %}

{% block content %}
    {% for product in products %}
        <div class="row">
            <div class="col-sm-3">
                <a href="products/{{ product.id }}">
                    <img src="/static/{{ product.image }}" alt="Image not found.." width="100%">
                </a>
            </div>
            <div class="col-sm-9">
                <h1>{{ product.name }}</h1>
                <p> {{ product.price }}</p>
            </div>
        </div>

    {% endfor %}
{% endblock %}